.modal-produto {
    position: absolute;
    top: 155px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;

    transition: all 0.3s;
    opacity: 0%;
    pointer-events: none;
    z-index: -1;

    &.modal-produto-ativo {
        top: 0;
        opacity: 100%;
        pointer-events: all;
        z-index: 1;
    }

    .conteudo {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .E-produto {
        width: 100%;
        max-width: 320px;
        display: grid;
        grid-template-rows: auto auto auto 1fr; // Último item pegará o espaço restante

        img {
            width: 320px;
            object-fit: cover;
        }

        .text-produto {
            width: 100%;
            max-width: 320px;
            height: 201px;
            background: #FAFAFA;
            padding: 21px;

            h2 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                display: flex;
                align-items: center;
                color: #D91A1A;
            }

            p {
                margin-top: 21px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 120%;
                color: #4E4B59;
            }
        }

        .quantidade-produto {
            width: 100%;
            max-width: 320px;
            height: 97px;
            background: #D91A1A;
            padding: 21px 34px;
            display: flex;
            align-items: center;

            .numero {
                margin-right: 13px;
                border-radius: 50%;
                width: 49px;
                height: 49px;
                background: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 120%;
                    color: #D91A1A;
                }
            }

            h1 {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                color: #FFFFFF;
            }
        }

        .valor-box {
            width: 100%;
            background: #000000;
            display: flex;
            align-items: end;
        }

        .valor-produto {
            width: 100%;
            height: 76px;
            background: #000000;
            border-top: 1px solid rgba(255, 255, 255, 0.3);

            display: flex;
            align-items: center;
            justify-content: end;
            padding: 21px;

            span {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: rgba(255, 255, 255, 0.8);
            }

            h1 {
                margin-left: 21px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 120%;
                color: #FFFFFF;
            }
        }
    }

    .D-produto {
        width: 100%;
        padding: 0 34px;
        display: flex;
        flex-direction: column;
        background-color: white;


        h1 {
            margin-top: 55px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: #000000;
        }

        .numero-de-itens {
            width: 89px;
            height: 89px;
            background: #D91A1A;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: #FFFFFF;
        }

        .adicionar-carrinho {
            margin-top: auto;
            margin-bottom: 13px;

            .adicionar-produto {
                padding: 13px;
                width: 100%;
                background: #27AE06;
                border-radius: 3px;


                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 120%;
                color: #FFFFFF;
            }
        }

        .fechar-modal {
            position: absolute;
            top: 53px;
            right: 55px;

            width: 55px;
            height: 55px;

            background: #D91A1A;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

.modal-carrinho {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; // Estado inicial (fora da tela)
    display: flex;
    flex-direction: row;

    &.aberto {
        transition: all 0.3s;
        left: 0; // Estado final (visível)
    }

    .E-close {
        width: 100%;
        max-width: 154px;
        height: 100%;
        background: #0D0D0D;

        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin-top: 34px;
            width: 85px;
            height: 85px;
            background: #D91A1A;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 45px;
            }
        }
    }

    .D-conteudo {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .produtos {
            margin-top: 34px;
            padding-left: 21px;
            padding-right: 34px;
            display: flex;
            flex-direction: column;
        }

        .titulo {
            display: flex;
            justify-content: center;

            padding: 21px 0;
            background: #D91A1A;

            h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 45px;

                color: #FFFFFF;
            }
        }

        .descricao {
            margin-bottom: 13px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-right: 55px;

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: #4E4B59;
            }

            .valores {
                display: flex;
                align-items: center;
                gap: 100px;
            }
        }

        .scroll-produtos {
            overflow-y: auto;
            max-height: 525px;
            height: 525px;
            padding-right: 5px;
            /* Espaço para a scrollbar não sobrepor conteúdo */

            /* Firefox */
            scrollbar-width: thin;
            scrollbar-color: #D91A1A #ffffff;

            /* Chrome, Edge, Safari e Brave (WebKit) */
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                margin: 5px 0;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 10px;
                border: 2px solid transparent;
                background-clip: padding-box;
            }

            /* Remover setas */
            &::-webkit-scrollbar-button {
                display: none;
            }
        }

        .card-produto {
            display: flex;
            align-items: center;

            .tirar-produto {
                margin-left: 15px;
            }

            .imagem-produto {
                width: 143px;
                height: 143px;
                object-fit: cover;
            }

            .produto {
                margin-top: 9px;
                margin-left: 13px;
                width: 100%;
                height: 143px;
                background: #F1F0F5;

                padding-right: 34px;

                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .E-descricao {
                display: flex;
                align-items: center;
            }

            .text-produto {
                width: 285px;
                margin-left: 21px;

                h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 120%;
                    color: #000000;
                }

                p {
                    margin-top: 13px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 120%;
                    color: rgba(78, 75, 89, 0.8);
                }
            }

            .D-descricao {
                display: flex;
                justify-content: center;
                gap: 76px;

                .quantidade {
                    display: flex;
                    align-items: center;

                    .btn-quantidade {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 26px;

                        background: #C6C5CE;

                        &.menos {
                            border-radius: 4px 0px 0px 4px;
                        }

                        &.mais {
                            border-radius: 0px 4px 4px 0px;
                        }

                        img {
                            width: 10px;
                        }

                    }

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 36px;
                        height: 26px;
                        background: #F1F0F5;
                        border: 0.8px solid #C6C5CE;

                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 120%;
                        color: rgba(78, 75, 89, 0.8);
                    }
                }

                .total-produto {
                    width: 92.25px;

                    span {
                        text-align: end;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 120%;
                        color: rgba(78, 75, 89, 0.8);
                    }
                }
            }
        }

        .fazer-pedido {
            background: #FFFFFF;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0 34px;
            padding-top: 34px;
            padding-bottom: 34px;

            .total-pedido {
                width: 100%;
                max-width: 175px;

                h2 {
                    margin-bottom: 13px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    color: #4E4B59;
                }

                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 120%;
                    color: rgba(78, 75, 89, 0.8);
                }
            }

            .enviar-pedido {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 55px;

                .btn {
                    width: 100%;
                    max-width: 332px;
                    padding: 13px 0;
                    border-radius: 3px;


                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 21px;
                    line-height: 120%;
                    color: #FFFFFF;

                    &.enviar {
                        background-color: #27AE06;
                    }

                    &.mais-pedido {
                        background-color: #D91A1A;
                    }
                }
            }
        }
    }

}

.modal-pedidos {
    position: absolute;
    top: 155px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 89px;

    transition: all 0.3s;
    opacity: 0%;
    pointer-events: none;
    z-index: -1;

    &.ativo {
        opacity: 100%;
        pointer-events: all;
        z-index: 1;
        top: 0;
    }

    .conteudo {
        display: flex;
        width: 100%;
        height: 100%;

        background-color: white;

        h1 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: #4E4B59;
        }

        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #4E4B59;
        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: #4E4B59;
        }
    }

    .E-conta {
        width: 100%;
        padding-top: 55px;
        padding-left: 55px;
        padding-right: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: white;

        .info {
            margin-top: 40px;

            .descricao {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 13px;

                .esquerda {
                    display: flex;
                    align-items: center;
                    gap: 34px;
                }

                .direita {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 89px;
                }
            }
        }

        .itens {
            display: flex;
            flex-direction: column;
            gap: 21px;
            margin-top: 21px;
            padding-top: 13px;
            border-top: 1px solid rgba(0, 0, 0, 0.23);
            padding-right: 5px;

            /* Adiciona o scroll */
            overflow-y: auto; // Permite rolagem vertical
            max-height: 360px; // Define uma altura máxima para o scroll funcionar

            /* Estiliza a barra de rolagem para navegadores modernos */
            scrollbar-width: thin; // Firefox
            scrollbar-color: #c6c5ce #F1F0F5; // Cor da barra e do fundo no Firefox

            &::-webkit-scrollbar {
                width: 8px; // Largura da barra de rolagem
            }

            &::-webkit-scrollbar-track {
                background: #F1F0F5; // Cor do fundo da barra
                border-radius: 10px; // Bordas arredondadas
            }

            &::-webkit-scrollbar-thumb {
                background-color: #c6c5ce; // Cor da barra de rolagem
                border-radius: 10px; // Bordas arredondadas
                border: 2px solid #F1F0F5; // Espaço entre a barra e o fundo
            }

            /* Remove setas de rolagem em navegadores baseados no WebKit */
            &::-webkit-scrollbar-button {
                display: none;
            }

            .card-iten {
                display: flex;
                align-items: center;
                gap: 34px;

                .esquerda {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 34px;

                    .item {
                        width: 100%;
                        max-width: 306px;
                    }
                }

                .direita {
                    width: 75%;
                    display: flex;
                    justify-content: flex-end;
                    gap: 34px;
                }
            }
        }

        .bot {
            display: flex;
            flex-direction: column;
            gap: 13px;
            padding-bottom: 21px;

            h1 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 120%;
                color: #D91A1A;
            }
        }
    }

    .D-divisao {
        padding: 55px 13px 21px 13px;
        width: 100%;
        max-width: 336px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: rgba(243, 243, 243, 0.63);

        .top {
            display: flex;
            align-items: center;
            flex-direction: column;

            .selecao-produto {
                margin-top: 34px;
            }

            h3 {
                margin-top: 34px;
            }

            h1 {
                margin-top: 21px;
            }
        }

        .bot {
            button {
                width: 100%;
                padding: 13px 0;
                border-radius: 3px;
                background: #27AE06;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 120%;
                color: #FFFFFF;
            }
        }
    }

    .fechar-modal {
        position: absolute;
        top: 34px;
        right: 34px;

        width: 55px;
        height: 55px;

        background: #D91A1A;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.selecao-produto {
    margin-top: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    position: relative;

    .menos-produto {
        width: 70px;
        height: 70px;

        background: #C6C5CE;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mais-produto {
        width: 70px;
        height: 70px;

        background: #C6C5CE;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .numero-de-itens {
        width: 89px;
        height: 89px;
        background: #D91A1A;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #FFFFFF;
    }
}

.modal-login-mesas {
    position: fixed; // Alterado para fixed para garantir que o modal fique fixo na tela
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(-100%); // Posição inicial fora da tela (à esquerda)
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0; // Inicialmente invisível

    &.ativo {
        transform: translateX(0); // Posição final (centralizada)
        opacity: 1; // Visível
        pointer-events: all;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    .conteudo {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 450px;
        padding: 55px 55px;
        background: white;

        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 89px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #000000;
        }

        input {
            width: 100%;
            background: #c6c5ce;
            border-radius: 80px;
            padding: 13px 0;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 39px;
            color: rgba(0, 0, 0, 0.55);
            text-align: center;
        }

        .btn {
            padding: 13px 0;
            width: 100%;
            margin-top: 34px;
            background: #ff0000;
            border-radius: 80px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 39px;
            color: #faf7f7;
        }
    }

    .fechar-modal {
        position: absolute;
        top: -55px;
        left: -34px;
        width: 55px;
        height: 55px;
        background: #d91a1a;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 3;
    }
}